#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.seekButtons {
  display: flex;
  justify-items: center;
  gap: 10px;
}
